@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: Montserrat;
}

.main {
    display: block;
    justify-content: center;
    text-align: center;
    padding-top: 2%;
}

button {
    background-color: white;
    border: 1 black solid;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}

/* Meal div */

